* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
	margin: 30px;
	height: 900px;
	background:white;
}

.parent {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.div1 { grid-area: 1 / 1 / 2 / 4; padding: 5px; background: #025496;font-size: 20px;color:white;font-family: 'IBM Plex Sans', sans-serif; text-align: center;text-transform: uppercase;border-style: solid;}

.div2 { grid-area: 2 / 1 / 3 / 2; background:#b3b9c8; padding: 5px; font-size: 30px;color:white;font-family: 'IBM Plex Sans', sans-serif; text-align: center;text-transform: uppercase;border-style: solid;}

.div3 { grid-area: 3 / 1 / 4 / 2; background:#b3b9c8;padding: 5px; font-size: 30px;color:white;font-family: 'IBM Plex Sans', sans-serif; text-align: center;text-transform: uppercase;border-style: solid; }

.div4 { grid-area: 4 / 1 / 5 / 2; background:#b3b9c8;padding: 5px; font-size: 30px;color:white;font-family: 'IBM Plex Sans', sans-serif; text-align: center;text-transform: uppercase;border-style: solid; }

.div5 { grid-area: 2 / 2 / 4 / 4; background:white; padding: 5px; font-size: 30px;color:white; font-family: 'IBM Plex Sans', sans-serif; text-align: center;text-transform: uppercase;border-style: solid; }

.div6 { grid-area: 4 / 2 / 5 / 4; background:white; padding: 15px; font-size: 50px;color:white; font-family: 'IBM Plex Sans', sans-serif; text-align: display: inline-block; left;text-transform: uppercase;border-style: solid; }

.col {
	padding: 35px;
	color: black;
	font-size: 25px
}

.titled {
	padding: 40px;
}

.slide {
	width: 50%;
}

span {
	border: 2px black;
	border-radius: 4px;
	font-size: 15px;
}

.btn-play {
	background-color: #a46482;
	border: none;
	color: white;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 10px 10px;
	border-radius: 12px;
	cursor: pointer;
}

.btn-stop {
	background-color: #a46482;
	border: none;
	color: white;
	padding: 7px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 25px;
	margin: 10px 10px;
	border-radius: 12px;
	cursor: pointer;
}

.box-minmax{
  /*margin-top: 30px;*/
  /*width: 608px;*/
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #FFFFFF;
  margin-left: 30px;
  margin-right: 30px;
  }


/*CSS palette*/
/*https://colorswall.com/palette/31084*/
/*https://colorswall.com/palette/4979/*/
/*https://colorswall.com/palette/43479/*/
/*https://cssgrid-generator.netlify.app/*/

/*CSS slider code*/
input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 200px;
    cursor: pointer;
    border-radius: 0;
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 40px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #a46482;
    border: 2px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #a46482;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #a46482;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}

